.headerContainer {
  height: 50px;
  width: 100%;
  background-color: #0a1a29;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.headerLeft {
  flex: 4;
}

.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.headerCenter {
  flex: 4;
}

.searchBar {
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}

.searchInput {
  border: none;
  width: 70%;
}

.searchInput:focus {
  outline: none;
}

.headerRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.headerLink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}
